.img-container { margin: 0 auto; }

.img-container img { width: 100%; }

.bg-self-green { background-color: rgb(106, 212, 198) }

.text-shadow { text-shadow: black 0.1em 0.1em 0.2em }

.h0 { height: 0.25rem }

.justify-evenly { justify-content: space-evenly }

.App {
  height: 100vh;
}

.fadein-1 {
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}